.navbar.navbar-inverse.navbar-fixed-top.test {
  min-width: 1200px;
}

body {
  overflow-x: hidden !important;
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(20, 144, 187, 1) 100%
  );
}

.text-white {
  color: white;
}

.fm-img {
  width: calc(50px + (300 - 150) * ((100vw - 500px) / (1920 - 500)));
  height: calc(30px + (60 - 45) * ((100vw - 500px) / (1920 - 500)));
}
.fm-img185 {
  width: calc(150px + (300 - 175) * ((100vw - 800px) / (1920 - 500)));
  height: calc(75px + (60 - 55) * ((100vw - 500px) / (1920 - 500)));
}
.fm-img175 {
  width: calc(60px + (300 - 200) * ((100vw - 200px) / (1920 - 500)));
  height: calc(30px + (60 - 55) * ((100vw - 400px) / (1920 - 500)));
}
.xbtn {
  width: calc(60px + (300 - 200) * ((100vw - 200px) / (1920 - 500)));
  height: calc(30px + (60 - 55) * ((100vw - 400px) / (1920 - 500)));
}
.paddiv {
  display: inline-block;
  padding-left: 5%;
  padding-top: 5%;
}
