.navbar.navbar-inverse.navbar-fixed-top.test {
  min-width: 1200px;
}

body {
  overflow-x: hidden !important;
  background: rgb(21, 103, 115);
  background: radial-gradient(
    circle,
    rgba(21, 103, 115, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.text-white {
  color: white;
}

.fm-img {
  width: calc(50px + (300 - 150) * ((100vw - 500px) / (1920 - 500)));
  height: calc(30px + (60 - 45) * ((100vw - 500px) / (1920 - 500)));
}
.fm-img185 {
  width: calc(150px + (300 - 175) * ((100vw - 800px) / (1920 - 500)));
  height: calc(75px + (60 - 55) * ((100vw - 500px) / (1920 - 500)));
}
.fm-img175 {
  width: calc(60px + (300 - 200) * ((100vw - 200px) / (1920 - 500)));
  height: calc(30px + (60 - 55) * ((100vw - 400px) / (1920 - 500)));
}
.xbtn {
  width: calc(60px + (300 - 200) * ((100vw - 200px) / (1920 - 500)));
  height: calc(30px + (60 - 55) * ((100vw - 400px) / (1920 - 500)));
}
.paddiv {
  display: inline-block;
  padding-left: 5%;
  padding-top: 5%;
}
.fnt {
  font-size: calc(12px + (22 - 16.5) * ((100vw - 500px) / (1920 - 500)));
}

@media screen and (max-width: 600px) {
  img#author_img {
    width: calc((100em) * (0.11));
  }
}
.btn_8 {
  width: calc(150px + (300 - 150) * ((100vw - 500px) / (1920 - 500)));
  height: calc(25px + (60 - 45) * ((100vw - 500px) / (1920 - 500)));
  font-family: "Nunito", sans-serif;
  font-size: calc(12px + (22 - 16.5) * ((100vw - 500px) / (1920 - 500)));
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #090916;
  border: none;
  border-radius: 1000px;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
}
.btn_8::before {
  content: "";
  border-radius: 1000px;
  width: calc(150px + (300 - 150) * ((100vw - 500px) / (1920 - 500)));
  height: calc(45px + (60 - 45) * ((100vw - 500px) / (1920 - 500)));
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}
.btn_8:hover,
.btn_8:focus {
  color: #313133;
  transform: translateY(-6px);
}

.btn_8:hover::before,
.btn_8:focus::before {
  opacity: 1;
}

.btn_8:hover::after,
.btn_8:focus::after {
  animation: none;
  display: none;
}
